.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.SignupBox {
  margin-top: -10%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 70%;
}
.signup-title {
  margin-top: 0px;
}
.signup-container p {
  font-size: 14px;
  color: #888;
  margin-top: 0px;
  margin-bottom: 20px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.signup-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.signup-form input {
  width: 70%;
  padding: 10px;
  /* margin-bottom: 20px; */
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}
.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.signup-form input[type="text"],
.signup-form input[type="email"] {
  flex-grow: 1;
  margin-right: 10px;
}
.verify-btn {
  background-color: #e0e0e0;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: not-allowed;
  min-width: 80px;
}

.error {
  position: relative;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #ff3d00;
  text-align: left;
  display: inline-block;
  margin-top: 2px;
  height: 15px;
  margin-bottom: 3px;
}

.success {
  position: relative;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #28a745; /* 초록색 */
  text-align: left;
  display: inline-block;
  margin-top: 2px;
  height: 15px;
  margin-bottom: 3px;
}
.signup-form input[readonly] {
  color: #949597;
}
.verify-btn-yellow,
.verify-btn-active-yellow {
  border: none;
  padding: 10px;
  cursor: not-allowed;
  min-width: 80px;
  background-color: #fff742;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.signup-btn {
  font-size: 16px;
  background-color: #e0e0e0;
  color: #fff;
  border: none;
  padding: 16px;
  min-width: 180px;
  cursor: pointer;
  align-self: center;
}

.signup-btn-active {
  font-size: 16px;
  background-color: #fff741;
  color: #333;
  border: none;
  padding: 16px;
  min-width: 180px;
  cursor: pointer;
  align-self: center;
}
