.NavMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; /* 좌우 중앙 정렬 */
  z-index: 999;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding-top: 140px;
  margin: 0 auto; /* 좌우 중앙 정렬 */
}

.Ticket-leftSectionWrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.leftSection {
  width: 668px;
  height: 200dvh;
}

.rightSectionWrapper {
  width: 468px;
}

.main-ticketDetail {
  height: 200dvh;
}
