.AuctionInfo_box_Container {
  display: absolute;
  top: 202px;
  flex-direction: column;
  align-items: center;
  width: 268px;
  border-radius: 10px;
  background-color: #fafafa;
  height: 333px;
  position: fixed;
}

.AuctionInfo_box_TimeOut {
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  background-color: #fff741;
  height: 45px;
  display: flex;
  flex-direction: row;
}
.TimeOutText {
  width: 58px;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-top: 12px;
  margin-left: 68px;
}
.TimeOutTime {
  width: auto;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: right;
  display: inline-block;
  margin-left: 4px;
  margin-top: 12px;
}

.AuctionInfo_box_User {
  display: flex;
  flex-direction: row;
  width: 268px;
  justify-content: baseline;
}
.AuctionInfo_box_User div {
  margin-right: 10px;
}

.AuctionInfo_box_Info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 200px;
}

.AuctionInfo_box_MaxBid {
  border: 1px solid black;
}

/* 모달 오버레이 스타일 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1050; /* 모달 컨텐츠보다 낮아야 함 */
  background-color: rgba(0, 0, 0, 0.5);
}

/* 모달 콘텐츠 스타일 */
.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1060; /* 오버레이보다 높아야 함 */
}

/* 내부 콘텐츠 중앙 정렬을 위한 스타일 */
.modalInnerContent {
  display: flex;
  flex-direction: column;
  width: 524px;
  height: 733px;
}

.first {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}
.AuctionInfo-Pic {
  padding-top: 12px;
  margin-left: 20px;
}

.vipNickname {
  margin-left: 12px;
}

.rating {
  margin-top: 7px;
  margin-left: 12px;
}

.stroke {
  display: flex;
  height: 20px;
  align-items: center;
}

.second {
  width: 268px;
  display: flex;
  flex-direction: row;
}

.secondText {
  width: 62px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  display: inline-block;
  font-family: SUIT;
  color: #949597;
  text-align: left;
  margin-left: 20px;
}
.secondDate {
  width: 153px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-left: 25px;
}

.secondDate2 {
  width: 81px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: right;
  display: inline-block;
  margin-left: 10px;
}

.injoy {
  width: 100%;
  position: relative;
  border-radius: 0px 0px 10px 10px;
  background-color: #fff741;
  height: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 67px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  color: #333;
  font-family: SUIT;
  margin-top: 20px;
}

.injoyButton {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  cursor: pointer;
}
