.AuctionInfoContainer {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 268px;
}

.AuctionInfoPic {
  display: flex;
}

.AuctionInfoInfo {
  justify-content: space-between;
  height: 268px;
  width: 668px;
  display: flex;
  margin-bottom: 80px;
}

.AuctionInfoBoxFixed {
  width: 380px;
}
