.AuctionInfo_TicketBox_Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 380px;
  height: auto;
}

.AuctionInfo_box_TimeOut {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 200px;
}
.AuctionInfo_TicketBox_User {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: baseline;
}
.AuctionInfo_TicketBox_User div {
  margin-right: 10px;
}

.AuctionInfo_TicketBox_Info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 200px;
}

.AuctionInfo_TicketBox_MaxBid {
  border: 1px solid black;
}

.Line {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 8px;
}
.first {
  width: 70px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  display: inline-block;
  font-family: SUIT;
  color: #949597;
  text-align: left;
}

.second {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
}

.textWrapper {
  margin-bottom: 8px;
}

.notice {
  width: 223px;
  position: relative;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #949597;
  text-align: right;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 8px;
}
