/* 
---------------------------------------------------------------- */

.rectangleDiv {
  width: 100%;
  position: absolute;
  background-color: #fff741; /* 형광색 */
  height: 9px;
  bottom: 5px; /* 텍스트에 살짝 겹치도록 설정 */
  z-index: -1; /* 텍스트 뒤로 보내기 */
}

.rectangleDiv2 {
  width: 100%;
  position: absolute;
  background-color: #fff741; /* 형광색 */
  height: 9px;
  bottom: 5px; /* 텍스트에 살짝 겹치도록 설정 */
  z-index: -1; /* 텍스트 뒤로 보내기 */
}

.vipInfoPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.vipInfoTitleWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.vipInfoTitleRating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vipInfoNickName {
  position: relative;
  font-size: 28px;
  letter-spacing: -0.04em;
  line-height: 42px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
}

.star {
  margin-left: 8px;
}
.starText {
  width: 28px;
  position: relative;
  font-size: 20px;
  text-decoration: underline;
  letter-spacing: -0.04em;
  line-height: 30px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
}

.vipInfoWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;

  gap: 32px;
}

.vipShowingInfoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 768px;
  border-radius: 10px;
  background-color: #fafafa;
  padding: 28px 28px 28px 28px;
}

.vipJob {
  display: flex;
  flex-direction: row;
}

.vipCareer {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}
.vipIntro {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.JobTitle {
  width: 35px;
  height: 30px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 30px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  z-index: 3; /* 텍스트 뒤로 보내기 */
}

.CareerTitle {
  width: 35px;
  height: 30px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 30px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  z-index: 3; /* 텍스트 뒤로 보내기 */
}

.IntroTitle {
  width: 51px;
  height: 30px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 30px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  z-index: 3; /* 텍스트 뒤로 보내기 */
}

.JobObject {
  width: 645px;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin: 0px;
  margin-left: 16px;
  margin-top: 4px;
}

.CareerObject {
  width: 645px;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin: 0px;
  margin-left: 16px;
  margin-top: 4px;
}

.IntroObject {
  width: 712px;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-top: 12px;
}
.vipInfoAuctionWrapper {
  margin-top: 80px;
}

.SectionTitle {
  width: 1168px;
  height: 42px;
  border-top: 2px solid black;
  padding-top: 12px;
}

.auctionListText {
  width: 89px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 30px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
}

.AuctionList {
  position: relative;
  border-radius: 10px;
  background-color: #fafafa;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 32px 512px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  color: #949597;
  font-family: SUIT;
  margin-bottom: 80px;
}

.listBoxText {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-family: SUIT;
  color: #949597;
  text-align: left;
}

.AuctionDefaultList {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
