.ReportWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
}

.closeButton {
  margin-top: 22px;
  margin-right: 22px;
  cursor: pointer;
}

.ReportHeader {
  width: 105px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 30px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-left: 30px;
}

.Line {
  width: 367px;
  border: 1px solid #333333;
  display: flex;
  margin-left: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.Line2 {
  width: 367px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  margin-left: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.OriginGroup {
  margin-left: 30px;
  display: flex;
  gap: 9px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.OriginRating {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.Rating {
  width: 17px;
  position: relative;
  font-size: 12px;
  text-decoration: underline;
  letter-spacing: -0.04em;
  line-height: 18px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
}
.ReportReason {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-left: 30px;
}

.ReportContainer {
  align-items: center;
  position: relative;
  width: 367px;
  height: 368px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ReportButton {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  justify-content: center;
}

.basicBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.btnText {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.04em;
  line-height: 18px;
  font-family: SUIT;
  color: #333;
  text-align: center;
  display: inline-block;
  height: 19.8px;
  margin-top: 8px; /* 텍스트와 아이콘 사이의 간격 조정 */
}

.reportDetail {
  width: 367px;
  position: relative;
  background-color: #fafafa;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 14px;
  color: #949597;
  font-family: SUIT;
  resize: none;
  margin-top: 20px;
  border: none;
  outline: none; /* 기본 포커스 아웃라인 제거 */
}

.charCount {
  width: 28.7px;
  position: absolute;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #949597;
  text-align: right;
  display: inline-block;
  height: 16.5px;
  right: 12px;
  bottom: 120px;
}

.submitBtn {
  width: 100%;
  position: relative;
  background-color: #d9d9d9;
  height: 53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  box-sizing: border-box;
  text-align: right;
  font-size: 16px;
  color: #fff;
  font-family: SUIT;
  border: none;
  margin-top: 20px;
}

.unSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52.9px;
  height: 52.9px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52.9px;
  height: 52.9px;
  border-radius: 50%;
  background-color: #ff3d00;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.svgIcon {
  width: 44px;
  height: 45px;
}

.submitBtnb {
  width: 100%;
  position: relative;
  background-color: #ff3d00;
  height: 53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  box-sizing: border-box;
  text-align: right;
  font-size: 16px;
  color: #fff;
  font-family: SUIT;
  border: none;
  margin-top: 20px;
}
