.chatContainer {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 680px;
}

.chatHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatBody {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 420px;
}

.message {
  max-width: 60%;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  align-self: flex-start;
}

.chatFooter {
  display: flex;
  border-top: 1px solid #ccc;
  flex-direction: column;
}

.messageInput {
  width: 428px;
  position: relative;
  background-color: #fafafa;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 14px;
  color: #949597;
  font-family: SUIT;
  resize: none;
  margin-top: 12px;
  margin-left: 20px;
  border: none;
  outline: none; /* 기본 포커스 아웃라인 제거 */
}

.sendButton {
  position: relative;
  border-radius: 5px;
  background-color: #fff741;
  width: 60px;
  height: 37px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  color: #333;
  font-family: SUIT;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 8px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* 배경 색상을 설정하여 모달 뒤의 내용을 흐리게 함 */
  z-index: 1000; /* 다른 요소보다 모달이 위에 오도록 설정 */
}

/* 모달 콘텐츠 스타일 */
.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 427px;
  height: 588px;
  max-height: 90%;
  overflow: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  overflow: hidden;
  outline: none;
}

.currentUserMessage {
  background-color: #fafafa;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block; /* Style for current user's messages */
  align-self: flex-end; /* Adjust alignment */
  border-radius: 10px 10px 0 10px; /* Adjust border radius */
}

.otherUserMessage {
  background-color: #fff741;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block; /* Style for other user's messages */
  align-self: flex-start; /* Adjust alignment */
  border-radius: 10px 10px 10px 0; /* Adjust border radius */
}

.back {
  margin-left: 20px;
  margin-top: 12px;
  cursor: pointer;
}

.chatHeader {
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  background-color: #fff741;
  height: 45px;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: center;
}

.FAQTitle {
  margin-top: 12px;
}

.report {
  width: 24px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #ff3d00;
  text-align: right;
  display: inline-block;
  margin-top: 12px;
  margin-right: 20px;
  cursor: pointer;
}

.warning {
  width: 428px;
  height: 30px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #ff3d00;
  font-family: SUIT;
  margin-top: 16px;
  margin-left: 20px;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.messageTime {
  position: relative;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #949597;
  text-align: left;
  display: inline-block;
}

.messageSender {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.04em;
  line-height: 18px;
  font-family: SUIT;
  color: #949597;
  text-align: left;
  display: inline-block;
}
