.frame-screen {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  margin-bottom: 80px;
}

.parent {
  display: flex;
  gap: 20px;
}

.arrow1 {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.2em;
  line-height: 21px;
  font-family: SUIT;
  color: #333;
  text-align: right;
  cursor: pointer;
}

.arrow2 {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #333;
  text-align: right;
  cursor: pointer;
}

.b {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #333;
  text-align: right;
  cursor: pointer;
}

.div2 {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #949597;
  text-align: right;
  cursor: pointer;
}
