.rectangleParent {
  width: 336px;
  position: relative;
  height: 36px;
  font-size: 14px;
  color: #949597;
  font-family: "SUIT", sans-serif;
  margin-right: 32px;
}

.groupChild {
  position: relative;
  border-radius: 32px;
  background-color: #fafafa;
  width: 336px;
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 16px; /* 글자 입력 영역과 아이콘의 좌측 패딩 */
  padding-right: 16px; /* 오른쪽 패딩 */
}

.searchInput {
  border: none;
  outline: none;
  width: calc(100% - 40px); /* SVG 아이콘 너비와 패딩을 고려한 너비 */
  height: 100%;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.searchIcon {
  cursor: pointer;
  margin-left: auto; /* 아이콘을 오른쪽으로 정렬 */
}
