.title {
  position: absolute;
  top: 0px;
  left: calc(50% - 73px);
  font-size: 28px;
  letter-spacing: -0.04em;
  line-height: 42px;
  font-weight: 800;
}

.parent {
  width: 100%;
  position: relative;
  height: 1700px;
  text-align: left;
  font-size: 20px;
  color: #333;
  font-family: SUIT;
}

.mainWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 1301px;
  padding-top: 87px;
}

.leftWrapper {
  width: 200px;
  position: relative;
  height: 100%;
}
.rightWrapper {
  width: 100%;
  position: relative;
  height: 100%;
}

.title1 {
  width: 122px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-bottom: 102px;
}

.title2 {
  width: 122px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-bottom: 149px;
}

.title3 {
  width: 122px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-bottom: 410px;
}

.title4 {
  width: 122px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-bottom: 630px;
}

.title5 {
  width: 122px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
}

.content1 {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #fafafa;
  height: 86px;
  display: flex;
  align-items: center;
}

.content1Text {
  width: 549px;
  position: relative;
  font-size: 12px;
  letter-spacing: -0.04em;
  line-height: 18px;
  font-family: SUIT;
  color: #949597;
  text-align: left;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-left: 16px;
}

.Bline {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: end;
  border-bottom: 2px solid #333333;
}

.content2Wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.subTitle {
  width: 87px;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-top: 12px;
}

.content2Content {
  margin-left: 44px;
  margin-top: 10px;
  width: 339px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content2Input {
  width: 100%; /* Use 100% width to fill the container */
  border: none; /* No border */
  border-bottom: 1px solid #e0e0e0; /* Only a bottom border */
  font-size: 16px; /* Adjust font size as needed */
  padding: 8px 0; /* Padding to ensure text is centered vertically */
  color: #333; /* Text color for the input content */
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  text-align: left;
  background-color: transparent;
  height: 100%;
}

.content2Input::placeholder {
  width: 146px;
  position: relative;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #949597;
  text-align: left;
  display: inline-block;
}
.content2Input:focus {
  outline: none;
}

.content2Input::-webkit-outer-spin-button,
.content2Input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.content2ContentText {
  width: auto;
  position: relative;
  font-size: 12px;
  letter-spacing: -0.04em;
  line-height: 18px;
  font-family: SUIT;
  text-align: left;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #333;
  margin-top: 4px;
}

.content2ContentText2 {
  width: auto;
  position: relative;
  font-size: 12px;
  letter-spacing: -0.04em;
  line-height: 18px;
  font-family: SUIT;
  text-align: left;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #3d5afe;
  margin-top: 4px;
  margin-left: 4px;
}

.border {
  width: 100%;
  position: relative;
  border-radius: 8px;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: left;
  font-size: 10px;
  color: #949597;
  font-family: SUIT;
}

.contet3 {
  position: relative;
  background-color: #fff741;
  width: 45px;
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  box-sizing: border-box;
  text-align: left;
  font-size: 12px;
  color: #333;
  font-family: SUIT;
  letter-spacing: -0.04em;
  line-height: 18px;
  font-weight: 800;
  margin-left: 7px;
  margin-top: 10px;
}

.content3Wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.subTitle3Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.subTitle1 {
  width: 87px;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-top: 12px;
}

.subTitle3 {
  width: 87px;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-top: 120px;
}

.content3Content {
  display: flex;
  flex-direction: column;
  margin-left: 44px;
}

.content3DateInput {
  width: 338px;
  position: relative;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #949597;
  text-align: left;
  display: inline-block;
  border-bottom: 0.5px solid #e0e0e0;
  padding-bottom: 7px;
  margin-top: 16px;
}

.conten3subtitle {
  margin-top: 4px;
  width: 146px;
  position: relative;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #3d5afe;
  text-align: left;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.timeInput {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.numberInput {
  width: 50px;
  border-bottom: 0.5px solid #e0e0e0;
}

.timeText {
  width: 24px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
}

.timeWaring {
  width: 100%;
  position: relative;
  border-radius: 8px;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: left;
  font-size: 10px;
  color: #949597;
  font-family: SUIT;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 7px;
}
.content3Input {
  width: 100%; /* Use 100% width to fill the container */
  border: none; /* No border */
  border-bottom: 1px solid #e0e0e0; /* Only a bottom border */
  font-size: 16px; /* Adjust font size as needed */
  padding: 8px 0; /* Padding to ensure text is centered vertically */
  color: #333; /* Text color for the input content */
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  text-align: left;
  background-color: transparent;
}

.content3Input::placeholder {
  width: 146px;
  position: relative;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #949597;
  text-align: left;
  display: inline-block;
}
.content3Input:focus {
  outline: none;
}

.adressSubTitle {
  width: 146px;
  position: relative;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 15px;
  font-family: SUIT;
  color: #3d5afe;
  text-align: left;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-top: 4px;
}
.clender {
  margin-left: 7px;
  margin-top: 12px;
}

.content4 {
  position: relative;
  background-color: #fff741;
  width: 67px;
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  box-sizing: border-box;
  text-align: left;
  font-size: 12px;
  color: #333;
  font-family: SUIT;
  letter-spacing: -0.04em;
  line-height: 18px;
  font-weight: 800;
  margin-left: 7px;
  margin-top: 115px;
}

.subTitle77 {
  width: 101px;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 24px;
  font-weight: 800;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 267px;
}

.content4Content {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 537px;
}

.TextEditor1 {
  margin-top: 12px;
  width: 838px;
  height: 222px;
}

.TextEditor2 {
  margin-top: 12px;
  width: 838px;
  height: 222px;
}

.AuthCheckText {
  width: 266px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #333;
  text-align: left;
  display: inline-block;
}

.vlftn {
  width: 8px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
  font-family: SUIT;
  color: #ff3d00;
  text-align: left;
  display: inline-block;
  align-items: self-end;
}

.AuthCheck {
  align-items: center;
  margin-top: 13px;
}

.apply {
  width: 168px;
  position: relative;
  background-color: #fff741;
  height: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 67px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  color: #333;
  font-family: SUIT;
  white-space: nowrap;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add an ellipsis if the text is too long to fit */

  cursor: pointer; /* Change cursor to pointer to indicate it's a button */
}
.cancle {
  width: 168px;
  position: relative;
  background-color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
  height: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 67px;
  text-align: left;
  font-size: 16px;
  color: #333;
  font-family: SUIT;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-bottom: 80px;
}
