.FAQBoard {
  margin-top: 100px;
}
.FAQContainer {
  display: flex;
  flex-direction: column;
}
.FAQTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.FAQSubTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.FAQHighlight {
  background-color: #fff646;
}
.subTitleUnderline {
  width: 100%;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}
.tabs {
  display: flex;
  justify-content: left;
  max-width: 508px;
}
.tab,
.tabActive {
  flex: 1;
  min-width: 84px;
  padding: 10px;
  text-align: center;
  margin-right: 30px;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 30px;
  cursor: pointer;
}
.tabActive {
  background-color: #fff646;
}
.FAQSelect {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  margin-top: 21px;
  margin-bottom: 21px;
  align-items: center;
}

.FAQBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 1168px;
}
.FAQText {
  width: 998px;
  align-self: center;
  margin-top: 12px;
  margin-left: 47px;
  margin-bottom: 20px;
  margin-right: 96px;
}
.FaqItems {
  margin-top: 40px;
  margin-bottom: 40px;
}

.FAQQuestion::before {
  content: "Q"; /* 여기에 원하는 문자를 입력 */
  width: 22px;
  position: relative;
  font-size: 24px;
  letter-spacing: -0.04em;
  line-height: 36px;
  display: inline-block;
  font-family: SUIT;
  color: #fff741;
  text-align: left;
  text-shadow: 1px 0 0 #333, 0 1px 0 #333, -1px 0 0 #333, 0 -1px 0 #333;
  align-items: center;
  margin-left: 40px;
}

.FAQQImage {
  margin-right: 40px;
}
