.FAQBoard {
  margin-top: 100px;
}
.FAQContainer {
  display: flex;
  flex-direction: column;
}
.FAQTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.FAQSubTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.FAQHighlight {
  background-color: #fff646;
}
.subTitleUnderline {
  width: 100%;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}
.tabs {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}
.tab,
.tabActive {
  flex: 1;
  min-width: 120px;
  padding: 10px;
  text-align: center;
  margin-right: 30px;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 30px;
  cursor: pointer;
}
.tabActive {
  background-color: #fff646;
}
.FAQSelect {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.FAQText {
  width: 100%;
  height: 300px;
}
